[Desktop Entry]
Name=Grumblr
Comment=a Tumblr companion
Exec=grumblr
Icon=grumblr
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
